<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
  <h1>Gute-Nacht-Geschichte Generator</h1>

  <form action="/generate-story" method="post">
    Hauptfigur: <input type="text" name="main_character"><br>
    Thema: <input type="text" name="theme"><br>
    Schauplatz: <input type="text" name="setting"><br>
    Zusätzliche Wünsche: <input type="text" name="additional_wishes"><br>
    <input type="submit" value="Submit">
  </form>
</body>
</html>
